.sceditor-button-twemoji div {
  background:url('http://twemoji.maxcdn.com/16x16/1f600.png') !important;
}

/* drop down */
.sceditor-twemoji {
  width:230px;
  height:250px;
  overflow-y:auto;
}

/* icons */
.sceditor-twemoji img {
  cursor:pointer;
  padding:3px;
}
.sceditor-twemoji img:hover {
  opacity:0.7;
}
